
  body{
    background-image: url("background5.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
   
  }      
   
img{
    width: 300px;
    margin: auto;
    display: block;
    background-color: rgb(136, 135, 135);
    border-style: inset;
    border-radius: 10px;
}


h1 {
        background-color: rgb(136, 135, 135);
        text-align: center;
        border-style: outset;
        border-radius: 0px;
        padding: 0;
        color: rgb(165, 93, 172);
        margin-right: 400px;
        margin-left: 400px;
       
}
h2 {
    background-color: rgb(136, 135, 135);
        text-align: center;
        border-style: outset;
        border-radius: 0px;
        padding: 0;
        color: rgb(165, 93, 172);
        margin-right: 400px;
        margin-left: 400px;
}

#header {
    color: blue
}

ul{


        background-color: rgb(136, 135, 135);
        border-style: outset;
        border-radius: 0px;
        padding: 0;
        color: black;
        margin-right: 600px;
        margin-left: 600px;
       
        
}

p{
    background-color:rgb(136, 135, 135);
        border-style: outset;
        border-radius: 0px;
        padding: 0;
        color: black;
        margin-right: 400px;
        margin-left: 400px;
        
}

